.pull-right.control-group-buttons
  .btn-group
    a.btn.btn-info(data-toggle='tooltip', title='edit')
      i.icon-edit.icon-large
    a.btn.btn-info(data-toggle='tooltip', title='duplicate')
      i.icon-copy.icon-large
    a.btn.btn-warning(data-toggle='tooltip', title='remove')
      i.icon-trash.icon-large