.pull-right.checkbox-set-buttons
  .btn-group
    a.btn.btn-info(data-toggle='tooltip', title='edit')
      i.fa.fa-edit.fa-lg
    a.btn.btn-warning(data-toggle='tooltip', title='remove')
      i.fa.fa-trash-o.fa-lg