.control-group.output-control-group(datatype='checkbox')
  .control-label
    span { model.label }
  .controls
    label.checkbox
      input(type='checkbox', disabled=true)
      span { model.checkbox_text }