.control-group.checkbox-set(rv-data-required='model.required', rv-data-userkey='model.userkey')
  .control-label
    span.control-number
    != ' '
    span.model-label { model.label }
  .controls
    fieldset.checkboxes
    span.help-block { model.help }
