.form-group.output-control-group
  .control-label.col-xs-2
    span { model.label }
  .col-xs-offset-2
    label.checkbox
      input(type='checkbox', disabled=true, rv-required='model.required')
      span { model.checkbox_text }
