.control-group.output-control-group
  .control-label
    span { model.label }
  .controls
    input(type='number', disabled=true, rv-placeholder='model.placeholder', rv-required='model.required', rv-min='model.min', rv-max='model.max', step='any')
    span.help-block { model.help }
