.control-group.output-control-group
  .control-label
    span { model.label }
  .controls
    .input-append
      input(type='text', disabled=true, rv-placeholder='model.placeholder')
      span.add-on { model.unit }
    span.help-block