.control-group.output-control-group
  .control-label
    span { model.label }
  .controls
    input(rv-type='model.type', disabled=true, rv-placeholder='model.placeholder')
    span.help-block { model.help }