label(class='radio')
  input(type='radio' rv-value='model.radio_text', disabled=true, rv-name='model.name', rv-required='model.required', rv-data-userkey='model.userkey')
  span.radio_text { model.radio_text }
