.control-group.output-control-group
  .control-label
    span { model.label }
  .controls
    input(type='text', disabled=true, rv-placeholder='model.placeholder', rv-required='model.required')
    span.help-block { model.help }
