.control-group.output-control-group
  .control-label
    span { model.label }
  .controls
    textarea(disabled=true, rv-placeholder='model.placeholder', rv-rows = 'model.rows', rv-required='model.required')
    span.help-block { model.help }
