.control-group.output-control-group
  .control-label
    span.control-number
    != ' '
    span.model-label { model.label }
  .controls
    input(type='file', rv-required='model.required', rv-data-userkey='model.userkey', disabled=true)
    span.help-block { model.help }
