{
  "root": true,
  "env": {
    "browser": true,
    "jquery": true,
    "node": true,
    "mocha": true,
    "es6": true
  },
  "parserOptions": {
    "ecmaVersion": 2017
  },
  "extends": ["eslint:recommended", "prettier"],
  "rules": {
    "no-console": 0,
    "quotes": [2, "single", "avoid-escape"],
    "camelcase": 0,
    "max-statements": 0,
    "func-style": 0,
    "max-len": 0,
    "max-params": [2, 10],
    "operator-assignment": 0,
    "consistent-this": 0,
    "no-unused-expressions": 1
  }
}
