# Node modules #
node_modules/

# Git related files. #
*.orig

# Editor bread crumbs. #
*~
# sublime stuff#
*.sublime-project
*.sublime-workspace


lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

pids
logs
results
doc
config

npm-debug.log
