# Node modules #
node_modules/

# Git related files. #
*.orig

# Editor bread crumbs. #
*~
# sublime stuff#
*.sublime-project
*.sublime-workspace

# special folders #
logs/
doc/
test/
uploads/
config/ad.json
