# Node modules #
node_modules/

# Git related files. #
*.orig

# Editor bread crumbs. #
*~
# sublime stuff#
*.sublime-project
*.sublime-workspace
*.idea

# system related #
.DS_Store

# special folders #
logs/
doc/
uploads/
config/ad.json
config/node.pem
config/node.key
config/api.json
config/service.json
config/auth.json
config/mongo.json
config/app.json

# npm stuff #
npm-debug.log*
