extends layout

block content
  .container
    #message
    #modal.modal.hide.fade(tabindex='-1',role='dialog',data-backdrop='static',aria-labelledby='modalLabel',aria-hidden='true')
      .modal-header
        h3#modalLabel
      .modal-body
      .modal-footer
    if (typeof id == 'undefined')
      h3 New form
    else
      h3 #{title}
    .well-large
      form.form-horizontal#output
        //- .pagination.pagination-left
        //-   ul
        //-     li.active
        //-       a(href='#1') 1
        if (typeof id == 'undefined')
          //- #form-title
          //-   h3.tinymce Form Title
          //-   p.tinymce Detailed information
        else
          != html

    .btn-group.dropdown
      a.btn.dropdown-toggle(data-toggle='dropdown')#input-items Basic inputs
        span.caret
      //- include inputtype
      ul.dropdown-menu
        li#add-checkbox
          a Checkbox
        li#add-text
          a Text
        li#add-par
          a Paragraph
        li#add-number
          a Number
        li#add-file
          a Upload file
        li#add-rich
          a Rich instruction
        //- li#add-hold
        //-   a Hold point
    .btn-group.dropdown
      a.btn.dropdown-toggle(data-toggle='dropdown')#struct-items Advanced control
        span.caret
      ul.dropdown-menu
        //- li#add-devider
        //-   a Divider
        //- li#add-grid
        //-   a Grid
        li#add-section
          a Section
        //- li#add-page
        //-   a Page break
    .btn-group
      button.btn#adjust Adjust location
    .btn-group
      button.btn.btn-primary#save Save
    .btn-group
      button.btn.btn-primary#preview(data-toggle='tooltip', title='the form will be saved first') Preview
    .btn-group
      button.btn.btn-primary#publish Publish

block js
  script(type='text/javascript', src='/jquery/jquery-1.9.1.js')
  script(type='text/javascript', src='/jquery/jquery-ui-1.10.2.custom.js')
  script(type='text/javascript', src='/bootstrap/js/bootstrap.js')
  script(type='text/javascript', src='/rivets/rivets.min.js')
  script(type='text/javascript', src='/tinymce/tinymce.min.js')
  script(type='text/javascript', src='/tinymce/jquery.tinymce.min.js')
  script(type='text/javascript', src='/dependency/moment.js')
  script(type='text/javascript', src='/builder/input.js')
  script(type='text/javascript', src='/builder/spec.js')
  script(type='text/javascript', src='/javascripts/builder.js')
