extends layout

block content
  if (typeof id !== 'undefined')
    script.
      var initHtml = !{JSON.stringify(html)};
  .container
    #message
    #modal.modal.hide.fade(tabindex='-1',role='dialog',data-backdrop='static',aria-labelledby='modalLabel',aria-hidden='true')
      .modal-header
        h3#modalLabel
      .modal-body
      .modal-footer
    if (typeof id == 'undefined')
      h3 New form
    else
      h3#title #{title}
    .well-large
      form.form-horizontal#output
        if (typeof id !== 'undefined')
          != html

    .btn-group.dropdown
      a.btn.dropdown-toggle(data-toggle='dropdown')#input-items Basic inputs
        span.caret
      //- include inputtype
      ul.dropdown-menu
        li#add-checkbox
          a Checkbox
        li#add-text
          a Text
        li#add-par
          a Paragraph
        li#add-number
          a Number
        li#add-file
          a Upload file
        li#add-rich
          a Rich instruction
        //- li#add-hold
        //-   a Hold point
    .btn-group.dropdown
      a.btn.dropdown-toggle(data-toggle='dropdown')#struct-items Advanced control
        span.caret
      ul.dropdown-menu
        //- li#add-devider
        //-   a Divider
        //- li#add-grid
        //-   a Grid
        li#add-section
          a Section
        //- li#add-page
        //-   a Page break
    .btn-group
      button.btn#adjust Adjust location
    .btn-group
      button.btn.btn-primary#save Save
    if (typeof id !== 'undefined')
      .btn-group
        a.btn#preview(data-toggle='tooltip', title='the form will be saved first', href=''+id+'/preview', target='_blank') Preview
      .btn-group
        a.btn.dropdown-toggle(data-toggle='dropdown')
          | More
          span.caret
        ul.dropdown-menu
          li
            a#saveas Save as
          li
            a#rename Rename
          li
            a#share(data-toggle='tooltip', title='the form will be saved first', href=''+id+'/share') Share

block js
  script(type='text/javascript', src='/jquery/jquery-1.9.1.js')
  script(type='text/javascript', src='/jquery/jquery-ui-1.10.2.custom.js')
  script(type='text/javascript', src='/bootstrap/js/bootstrap.js')
  script(type='text/javascript', src='/rivets/rivets.min.js')
  script(type='text/javascript', src='/tinymce/tinymce.min.js')
  script(type='text/javascript', src='/tinymce/jquery.tinymce.min.js')
  script(type='text/javascript', src='/dependency/moment.js')
  //- script(type='text/javascript', src='/dependency/lodash.js')
  script(type='text/javascript', src='/builder/input.js')
  script(type='text/javascript', src='/builder/spec.js')
  script(type='text/javascript', src='/javascripts/uid.js')
  script(type='text/javascript', src='/javascripts/builder.js')
