doctype html
html
  head
    meta(http-equiv='X-UA-Compatible', content='IE=Edge')
    block head
  body
    .navbar.navbar-inverse.navbar-fixed-top
      .navbar-inner
        .container-fluid
          button.btn.btn-navbar(type='button', data-toggle='collapse', data-target='.nav-collapse')
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.brand(href='http://www.frib.msu.edu/', target='_blank') FRIB
          .nav-collapse.collapse
            ul.nav
              li
                a(href='http://cable-dev:3000', target='_blank') Cable
              li.active
                a(href='/') Traveler
              li
                a(href='https://controls.frib.msu.edu/controlshelp/', target='_blank') Trouble report
              li
                a(href='/logout') Logout
    block content
    .container-fluid
      h6.text-right
        a(href='/release.txt', target='_blank') Release 2.1.0
    block js

