doctype html
html
  head
    meta(http-equiv='X-UA-Compatible', content='IE=Edge')
    block head
  body
    .navbar.navbar-inverse.navbar-fixed-top
      .navbar-inner
        .container-fluid
          button.btn.btn-navbar(type='button', data-toggle='collapse', data-target='.nav-collapse')
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.brand(href='http://www.frib.msu.edu/') FRIB
          .nav-collapse.collapse
            ul.nav
              li
                a(href='http://cable-dev:3000') Cable
              li.active
                a(href='/') Traveler
              li
                a(href='other') Other
              li
                a(href='other') Another
              li
                a(href='/logout') Logout
    block content

    block js
