doctype html
html
  head
    meta(http-equiv='X-UA-Compatible', content='IE=Edge')
    block head
  body
    .navbar.navbar-inverse.navbar-fixed-top
      .navbar-inner
        .container-fluid
          button.btn.btn-navbar(type='button', data-toggle='collapse', data-target='.nav-collapse')
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.brand(href='http://www.frib.msu.edu/', target='_blank') FRIB
          .nav-collapse.collapse
            ul.nav
              li
                a(href='https://controls.frib.msu.edu/', target='_blank') Controls
              li.active
                a(href='#{prefix}/') Traveler
              li
                a(href='https://controls.frib.msu.edu/controlshelp/', target='_blank') Report a problem
              li
                a(href='#{prefix}/logout') Logout

    block content
    .container-fluid
      h6.text-right
        a(href='#{prefix}/release.txt', target='_blank') Release 2.4.1
    block js

