extends layout

block content
  .container
    .btn-toolbar
      .btn-group
        a.btn.btn-primary(href='./builder') New Form
      .btn-group
        a.btn.btn-info(href='./about') About
    .tabbable.tabs-left
      ul.nav.nav-tabs
        li.active
          a(href='#form', data-toggle='tab') Forms
        li
          a(href='#working', data-toggle='tab') Working travelers
        li
          a(href='#completed', data-toggle='tab') Completed travelers
        //- li
        //-   a(href='#device', data-toggle='tab') Device
      .tab-content
        #form.tab-pane.active
          p the list of forms
        #working.tab-pane
          p the list of travelers
        #completed.tab-pane
          p the list of completed travelers
        //- #device.tab-pane
        //-   p the list of devices

block js
  script(type='text/javascript', src='/jquery/jquery-1.9.1.js')
  script(type='text/javascript', src='/bootstrap/js/bootstrap.js')


