extends layout

block content
  .container-fluid
    .btn-toolbar
      .btn-group
        a.btn.btn-primary#new(href='/forms/new', target='_blank')
          i.fa.fa-file-o.fa-lg
          | &nbsp;New Form
      .btn-group
        button.btn.btn-primary#reload
          i.fa.fa-refresh.fa-lg
          | &nbsp;Reload
      .btn-group.dropdown
        a#meta.btn.dropdown-toggle(data-toggle='dropdown')
          i.fa.fa-gears.fa-lg
          | &nbsp;Meta
          span.caret
        ul.dropdown-menu
          li#devices
            a(href='/devices', target='_blank') Devices
      .btn-group
        a.btn(href='/profile', target='_blank')
          i.fa.fa-user.fa-lg
          | &nbsp;Profile
      .btn-group
        a.btn.btn-info(href='/about', target='_blank')
          i.fa.fa-info.fa-lg
          |&nbsp;About
    .tabbable.tabs-left
      ul.nav.nav-tabs
        li.active
          a(href='#form', data-toggle='tab') My forms
        li
          a(href='#shared', data-toggle='tab') Shared forms
        li
          a(href='#working', data-toggle='tab') Working
        li
          a(href='#completed', data-toggle='tab') Completed
      .tab-content
        #form.tab-pane.active
          p the list of forms
        #working.tab-pane
          p the list of travelers
        #completed.tab-pane
          p the list of completed travelers
        //- #device.tab-pane
        //-   p the list of devices

block js
  script(type='text/javascript', src='/jquery/jquery-1.9.1.js')
  script(type='text/javascript', src='/bootstrap/js/bootstrap.js')


