extends layout

block content
  .container
    h3 #{title}
    .well-large
      form.form-horizontal#output
        != html

block js
  script(type='text/javascript', src='/jquery/jquery-1.9.1.js')
  script(type='text/javascript', src='/javascripts/viewer.js')
