extends layout

block head
  meta(charset='urf-8')
  title FRIB Traveler :: forms :: #{id} :: preview
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
  link(rel='stylesheet', href='/bootstrap/css/bootstrap.css')
  link(rel='stylesheet', href='/bootstrap/css/bootstrap-responsive.css')
  link(rel='stylesheet', href='/font-awesome-4.0.3/css/font-awesome.css')
  link(rel='stylesheet', href='/stylesheets/style.css')

block content
  .container
    h3 #{title}
    .well-large
      form.form-horizontal#output
        != html
    #validation.well.hide
    .btn-group(data-toggle='buttons-radio')
      button.btn.btn-info#show-validation Show validation
      button.btn.btn-info#hide-validation.active Hide validation

block js
  script(type='text/javascript', src='/jquery/jquery-1.9.1.js')
  script(type='text/javascript', src='/bootstrap/js/bootstrap.js')
  script(type='text/javascript', src='/javascripts/viewer.js')
