.control-group
  .control-label File type
  .controls
    input(type='text', name='filetype')
    span.help Leave blank for default file formats (PDF, excel & image/text formats). Specify for a specific file format (ex: zip)