//- option(value='checkbox') Checkbox
option(value='text') Text
//- option(value='textarea') Paragraph
option(value='number') Number
option(value='date') Date
option(value='datetime-local') Date Time
option(value='email') Email
option(value='tel') Phone number
option(value='time') Time
option(value='url') URL
//- option(value='choice') Single choice
//- option(value='multiple') Miltiple choice
//- option(value='upload') Upload file
//- option(value='rich') Rich instruction
//- option(value='hold') Hold point