article
  header
    include:marked basics/header.md
  section#template
    include:marked basics/template.md
  section#traveler
    include:marked basics/traveler.md
  section#binder
    include:marked basics/binder.md
  section#login
    include:marked basics/login.md
  section#ownership
    include:marked basics/ownership.md
  section#tab
    include:marked basics/tab.md
  section#color
    include:marked basics/color.md
