article
  header
    include:marked template/header.md
  section#normal 
    include:marked template/normal.md
  section#discrepancy
    include:marked template/discrepancy.md
  section#template-life
    include:marked template/lifecycle.md
  section#builder
    include:marked template/builder.md
  section#version
    include:marked template/version-control.md
  section#review
    include:marked template/review.md

