article
  header
    include:marked template/header.md
  section#normal 
    include:marked template/normal.md
  section#discrepancy
    include:marked template/discrepancy.md
  section#template-life
    include:marked template/lifecycle.md
  section#builder
    include:marked template/builder.md
  section#clone
    //- include:marked template-clone.md
  section#release
    //- include:marked template-release.md
  section#version
    include:marked template/version.md
  section#archive
    include:marked template/archive.md

