article
  header
    include:marked template/header.md
  section#normal 
    //- include:marked normal-template.md
  section#discrepancy
    //- include:marked discrepancy-template.md
  section#template-life
    //- include:marked template-lifecycle.md
  section#builder
    //- include:marked template-builder.md
  section#clone
    //- include:marked template-clone.md
  section#release
    //- include:marked template-release.md
  section#archive
    include:marked template/archive.md

