article
  header
    include:marked traveler/header.md
  section#traveler-status
    include:marked traveler/status.md
  section#traveler-view
    include:marked traveler/view.md
  section#traveler-update
    include:marked traveler/update.md
  section#traveler-config
    include:marked traveler/config.md
    include:marked traveler/manage-forms.md
    include:marked traveler/update-status.md
  section#share-traveler

